* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  cursor: pointer;
  font-family: courier;
  margin: 0;
  background-color: black;
}

#page-wrapper {
  background-color: black;
  position: absolute;
  padding: 5px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.empty-block {
  border: 1px black solid;
  margin: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

#first-pop-up, #selector-pop-up {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: oldlace;
  position: fixed;
  left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
  text-align: center;
}

#selector-pop-up {
  width: 330px;
  height: 210px;
  visibility: hidden;
}

#first-pop-up {
  width: 250px;
  height: 100px;
  line-height: 25px;
  visibility: visible;
}

h2 {
  visibility: inherit;
  margin: 0;
  line-height: 70px;
  width: 100%;
  height: 100%;
}


#colors-container {
  visibility: inherit;
  width: 100%;
  height: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
  flex-direction: row;
}

#selector-box-1, #selector-box-2 {
  visibility: inherit;
  height: 50px;
  width: 50px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}

